h3 {
    color: rgb(255, 0, 0);
    text-align: right;
}

h4 span {
    background-color: rgb(29, 70, 255);
}

i {
    background-color: orange;
}

div {
    background-color: gray;
}

p {
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

table, td {
    border: 1px solid rgb(170, 170, 170);
}